.spacer {
  flex: 1 1 auto;
}

.bg-img {
  background-image: url('/assets/img/basic-shield.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
